.post_comment {
  margin: 10px 20px;
}
.post_comment input[type="text"] {
  padding: 3px;
  border: 3px solid #EEEEEE;
  width: 195px;
}
.post_comment textarea {
  width: 300px;
  height: 150px;
  padding: 3px;
  border: 3px solid #EEEEEE;
}
label {
  font-size: 1.1em;
  font-weight: bold;
  color: #333333;
}
label.single {
  display: block;
  margin: 10px 0 10px;
  font-size: 1.1em;
  font-weight: bold;
}
label.single a {
  font-size: 1.1em;
  font-weight: bold;
}
.group {
  margin: 5px 0;
}
.comment {
  padding: 0 0 0 95px;
  margin: 10px 20px;
  border-bottom: 1px dotted #5e86c1;
}
.comment .author {
  float: left;
  width: 80px;
  margin-left: -90px;
}
.comment .content {
  border-left: 1px dotted #5e86c1;
  padding-left: 10px;
  font-size: 1.1em;
}
.comment .meta {
  clear: left;
  font-size: 0.9em;
  margin: 15px 0 15px;
  color: #333333;
}
