extends static/templates/base

block content
  .news-article
    .news-header: a(href="/news/") Latest News
    .news-content
      ul.headlights
        each item in news
          li: a(href="/news/#{item._id}")= item.title