header
  nav
    ul
      li: a(href="/") Home
      li: a(href="/news/") News
      li: a(href="/torrent/") Torrents/Browse
      if current_user
        li: a(href="/torrent/upload") Upload new Torrent
        li: a(href="/profile/") #{current_user.username}
        li: a(href="/profile/logout") Logout
      else
        li: a(href="/profile/") Login/Register
            