@import defaults

body
  font-family: tahoma, arial, helvetica, sans-serif
  font-size: 8pt
  margin: 0
  padding: 0

nav
  margin: 10px 0
  border-bottom: 1px solid #DDD

  a.logo
    background: url('/images/header.png') no-repeat center top
    width: 208px
    height: 40px
    display: block
    text-indent: -9999px
    margin-left: 1px

  ul.nav
    font-size: 1.3em
    border-bottom: none
    margin: 10px -15px 0 -15px

.panel-title--small
  font-size: 0.6em
  margin-left: 10px

@require "components"
