@import "reset.less";

body {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  /*background: #A1BFD9;#FAFCFE;*/

  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
    &:link, &:active, &:visited {
        color: #006699;
        text-decoration: none;
    }

    &:hover {
        color: #EE4000;
        text-decoration: none;
    }
}

ul.errors {
  font-weight: bold;
  color: #8e2823;

  li {
    margin: 5px 10px;
  }
}

@import "header.less";

@import "news.less";

@import "comments.less";

@import "profile.less";

@import "common.less";