@import "reset.less";

body {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  /*background: #A1BFD9;#FAFCFE;*/

  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
    &:link, &:active, &:visited {
        color: #08366e;
        text-decoration: none;
    }

    &:hover {
        color: #EE4000;
        text-decoration: none;
    }
}

ul.errors {
  font-weight: bold;
  color: #8e2823;

  li {
    margin: 5px 10px;
  }
}

.roundbox-container {
  margin: 10px 0;

  .roundbox-header {
    font-size: 1.3em;
    font-weight: bold;
    color: #333333;
    margin: 20px 0 -6px 35px;
    padding: 5px 0 0 50px;
    height: 26px;
    width: 330px;
    float:left;
    background: url("../images/news-header.png") no-repeat top left;
    
    .admin {
      font-size: 0.8em;
      font-weight: normal;
    }
  }
  .roundbox-content {
    .rounded(10px);
    border: 1px solid #5e86c1;
    padding: 10px 10px 0px;
    margin: 0 20px 0;
    font-size: 1.1em;
    clear: left;

    &.roundbox-single {
      .rounded(0px);
      border-right: none;
      border-left: none;
      padding-bottom: 10px;
      border-bottom: 1px dotted #5e86c1;
    }
  }
}

@import "header.less";

@import "news.less";

@import "comments.less";

@import "profile.less";

@import "torrent.less";

footer {
  text-align: center;
  color: #666666;
  font-size: 0.8em;
}

@import "common.less";