@import "elements.less";

.torrent-search {
    margin: 20px 20px 0;
    padding: 0 20px;

    input, select {
        display: inline-block;
        padding: 2px;
        margin-right: 10px;
    }

    select {
        padding: 3px 10px;
    }

    input.btn {
        margin-top: -3px;
        padding: 0px 10px 1px;
    }
}

.torrents {
    margin: 20px;

    table {
        width: 100%;
        border: 1px solid #000000;

        th {
            .gradient(#4175a5, #7aa5c5, #4175a5);
            font-weight: bold;
            color: #FFFFFF;
            text-align: center;
            padding: 6px;
            font-size: 1.1em;
            border-bottom: 1px solid #000000;
            border-top: 1px solid #000000;

            a {
                width: 22px;
                height: 12px;
                display: inline-block;
                &.up {
                    margin-left: 5px;
                    background: url('../images/up_off_arrow.png') no-repeat center top;
                    &.on { background: url('../images/up_arrow.png') no-repeat center top; }
                }
                &.down {
                    background: url('../images/down_off_arrow.png') no-repeat center top;
                    &.on { background: url('../images/down_arrow.png') no-repeat center top; }
                }
            }
        }

        .header th {
            padding: 3px;
            text-align: left;
        }


        td {
            padding: 6px;
            background: #eff8ff;
            font-size: 1.1em;
            border-top: 1px solid #989da3;
            vertical-align: middle;
            height: 35px;

            a.category {
                font-weight: italic;
                text-align: center;
                display: block-inline;
                margin: 0 auto;
            }

            .date {
                font-size: 13px;
                text-align: center;
                &.new { color: #006600; }
            }

            .options {
                display: inline-block;

                a {
                    width: 24px;
                    height: 24px;
                    margin: 0;
                    display: inline-block;

                    &.user { background: url('../images/profile_small.png') no-repeat center bottom; }
                    &.download { background: url('../images/save.png') no-repeat center bottom; }
                    &.magnet { background: url('../images/magnet.png') no-repeat center bottom; }
                    &.favorite { background: url('../images/favorite_small.png') no-repeat center bottom; }
                    &.comments { background: url('../images/chat_small.png') no-repeat center bottom; }
                }
            }

            .name {
                display: inline-block;
                line-height: 16px;
                vertical-align: top;

                a {
                    line-height: 32px;
                    display: inline-block;
                    font-weight: bold;
                    font-size: 1.1em;

                    &.verified {
                        background: url('../images/checked_small.png') no-repeat center left;
                        padding-left: 20px;
                    }
                    &.unknown {
                        background: url('../images/denied_small.png') no-repeat center left;
                        padding-left: 20px;
                    }
                }
                .size { display: inline-block; color: #800080; margin-left: 10px; }
                div {
                    a, div {
                        display: inline-block;
                        padding-left: 25px;
                        padding-top: 3px;
                        margin: 10px 0 0;
                        font-weight: normal;

                        
                        &.group {
                            margin-left: 20px;
                            background: url('../images/group_small.png') no-repeat center left;
                        }
                    }
                }
            }

            .seeders {
                color: #006600; margin: 0 -8px 0 8px;
                &.none { color: #660000; }
            }
            .leechers { color: #660000; display: inline-block; }
            .completed { color: #000066; margin-right: 10px; }
        }

        tr:nth-child(odd) {
            td { background: #e8f4ff; }
        }
        tr:first-child {
            td { border-top: none; }
        }
    }

    .pager {
        margin: 5px 0 0;
        h4 {
            font-size: 16px;
            font-weight: bold;
        }
        ul {
            margin: 5px 0;
            float: right;
            list-style: none;

            li {
                font-size: 13px;
                display: inline-block;
                border-right: 1px dotted #333333;
                padding: 0 7px;
                text-indent: -3px;
            }
            li.red {
                color: #660000;
                a, a:hover, a:visited { color: #660000 }
            }
        }
    }
}
