footer
  div
    | Copyrighted 2014 &mid;
    | ripping newzbin for fun &amp; glory (RIP) &mid; 
    a(href='http://www.dafont.com/ace-futurism.font') Logo Font
    |  by 
    a(href='http://nalgames.com/') NAL
    |  / 
    a(href='http://creativecommons.org/licenses/by/3.0/') CC BY