header
  nav
    .row
      .col-md-3.col-sm-4
        a.logo(href='/') Index
      .col-md-7.col-sm-6
        ul.nav.nav-tabs
          li: a(href='/') Home
          li: a(href='/torrent') Torrents/Browse
          li: a(href='/login') Login
